<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.PostMapper">
    <insert id="register" parameterType="com.example.dto.PostDTO">
        INSERT INTO post (title, contents, createTime, updateTime, views, memberId, fileId)
        VALUES (#{title}, #{contents}, #{createTime}, #{updateTime}, #{views}, #{memberId}, #{fileId})
    </insert>

    <select id="getAllPosts" resultType="com.example.dto.PostDTO">
        SELECT title, contents, createTime, updateTime, views, memberId
        FROM post
    </select>

    <update id="updatePosts" parameterType="com.example.dto.PostDTO">
        UPDATE post
        SET title = #{title},
        contents = #{contents}
        WHERE memberId = #{memberId}
    </update>

    <delete id="deletePosts" parameterType="map">
        DELETE FROM post
        WHERE id = #{id}
        AND memberId = #{memberId}
    </delete>
</mapper>
