<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.PostMapper">

    <!-- Insert Post -->
    <insert id="insertPost" parameterType="com.example.dto.PostDTO">
        INSERT INTO post (title, contents, kakaoUrl, createTime, updateTime, fileUrl, address, status, memberId)
        VALUES (#{title}, #{contents}, #{kakaoUrl}, #{createTime}, #{updateTime}, #{fileUrl}, #{address}, #{status}, #{mId})
    </insert>

    <!-- Select Post by ID -->
    <select id="selectPostById" parameterType="int" resultType="com.example.dto.PostDTO">
        SELECT id, title, contents, kakaoUrl, createTime, updateTime, fileUrl, address, status, memberId AS mId
        FROM post
        WHERE id = #{id}
    </select>

    <!-- Update Post -->
    <update id="updatePost" parameterType="com.example.dto.PostDTO">
        UPDATE post
        SET title = #{title},
        contents = #{contents},
        kakaoUrl = #{kakaoUrl},
        updateTime = #{updateTime},
        fileUrl = #{fileUrl},
        address = #{address},
        status = #{status},
        memberId = #{mId}
        WHERE id = #{id}
    </update>

    <!-- Delete Post -->
    <delete id="deletePostById" parameterType="int">
        DELETE FROM post WHERE id = #{id}
    </delete>

    <!-- Select All Posts -->
    <select id="selectAllPosts" resultType="com.example.dto.PostDTO">
        SELECT id, title, contents, kakaoUrl, createTime, updateTime, fileUrl, address, status, memberId AS mId
        FROM post
    </select>

    <!-- PostMapper.xml -->
    <select id="getPostOwnerId" parameterType="int" resultType="int">
        SELECT memberId
        FROM post
        WHERE id = #{postId}
    </select>

</mapper>
