<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 필요한 설정 추가 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <mappers>
        <!-- 특정 매퍼 파일 명시 -->
        <mapper resource="mappers/memberMapper.xml" />
        <mapper resource="mappers/postMapper.xml" />
    </mappers>
</configuration>
