header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    margin-top: 17px;
    background-color: transparent;
}

/* logo */
header .logo {
    max-width: 50px;
    height: auto;
    box-shadow: none;
    filter: none;
}

.logo-cont {
    width: 110px;
}

header .nav {
    display: flex;
    gap: 170px;
}

header .nav .nav-link {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
}

header .nav .nav-link:hover {
    text-decoration: underline;
}

/* button */
header .btn {
    font-size: 1rem;
    border-radius: 20px;
    width: 110px;
    background-color: #985DFF;
    color: white !important;
    border: none;
    padding: 0.5rem 1rem;
}

header .btn:hover,
header .btn:active {
    background-color: #B18CFF !important;
}