.main-banner {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.25;
}

/* 배경 이미지 위쪽에 어두운 오버레이 추가 */
.main-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* 이미지보다 위쪽에 위치 */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    text-align: center;
    color: black;
    z-index: 2;
}

/* title 영역 */
.banner-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 45px;
    color: black;
}

/* subtitle 영역 */
.banner-subtitle {
    font-size: 20px;
    color: #7e46dd;
}

.search-btn {
    background-color: #985DFF !important;
    border-color: #985DFF !important;
}

.search-btn:hover {
    background-color: #7b2eff !important;
    border-color: #7b2eff !important;
}

/* 테이블 */
.table {
    border-collapse: separate;
    border-spacing: 0;
}

.table-hover tbody tr {
    height: 50px;
}

.table-hover tbody td,
.table-hover thead th {
    font-weight: normal;
    font-size: 15px;
}

/* 테이블 머리글 */
.table-light th {
    background-color: #f2edfd !important;
    font-weight: normal;
    font-size: 15px;
}

.badge.text-bg-success {
    background-color: #d4edda;
    color: #155724;
}

.badge.text-bg-secondary {
    background-color: #d6d8db;
    color: #495057;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}