html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRound', sans-serif !important;
    background-color: #e3f2fd !important;
}

.body-ov {
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    border-radius: 20px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card-login {
    max-width: 430px !important;
}

.card-signup {
    max-width: 620px;
}

.card-body {
    padding: 30px !important;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold !important;
    color: #0d47a1 !important;
    text-align: center;
    margin-bottom: 20px !important;
}

/* 입력 필드란 */
.form-control {
    border-radius: 8px;
    border: 1px solid #bbdefb;
    background-color: #f1f8ff;
    padding: 12px;
}

.btn-primary {
    background-color: #64b5f6 !important;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 15px !important;
}

.btn-primary:hover {
    background-color: #42a5f5 !important;
}

/* sign up, login 텍스트 링크 */
.text-primary {
    color: #1976d2 !important;
    font-weight: bold;
}

.text-primary:hover {
    color: #0d47a1;
    text-decoration: underline;
}